
/*#region Header*/

header {
    background-color: var(--primary-bg-color);
}

header #let-me-watch-logo, header #falsified-media-link{
    color: var(--normal-text-color);
}

/*#region Left*/
header #let-me-watch-logo{
    margin-left: calc(var(--standard-spacing) * 1.6);
}

header #let-me-watch-logo img{
    max-height: var(--logo-dimensions);
    max-width: var(--logo-dimensions);
}
header #let-me-watch-logo>span{
    transition: var(--standard-eio-transition);
    margin-left: var(--standard-spacing);
    font-weight: bold;
    font-size: var(--header-fontsize);
}

header #let-me-watch-logo:hover>span>span{
    transition: var(--standard-eio-transition);
    color: var(--primary-color);
}
/*#endregion*/

/*#region Right*/

header #falsified-media-link{
    height: var(--logo-dimensions);
}

/*#endregion*/

/*#endregion*/

/*#region Main*/

main #content .media-information{
    font-weight: bold;
    color: var(--gray);
}

main #content #falsified-media-player{
    transition: var(--standard-eio-transition);
    max-width: var(--max-media-width);
    max-height: var(--max-media-height);
    border: 4px solid var(--primary-color);
    box-shadow: 0 0 0px 0px var(--primary-color);
    border-radius: var(--standard-border-radius);
}
main #content #falsified-media-player:hover{
    box-shadow: 0 0 20px 10px var(--primary-color);
    border: 4px solid transparent;
}

/*#endregion*/

/*#region Footer*/

footer {
    background-color: var(--primary-bg-color);
}

footer>section>h2{
    color: var(--big-text-color);
    font-size: var(--large-fontsize);
    font-weight: bold;
}
footer>section ul li i {
    font-size: var(--dot-size);
}
footer>section ul li i.fa-fire {
    font-size: var(--fire-dot-size);
}

footer>section>#site-info-content{
    max-width: var(--site-info-content-max-width);
}
footer>#site-insight>div section h3{
    font-size: var(--larger-fontsize);
}
footer>#site-insight>div section ul{
    list-style: none;
}

/*#endregion*/
