
/*#region MARK: No Script 
*/

noscript {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: var(--popup-z-index);
}

noscript section {
    padding: calc(var(--standard-spacing) * 4);
    min-height: var(--popup-min-height);
    border-radius: var(--standard-size);
    background-color: var(--primary-bg-color);
    border: 5px var(--standard-border);
}

noscript section span {
    font-style: italic;
}

/*#endregion*/




/*#region MARK: Popup 
*/

#popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: var(--popup-z-index);
    font-weight: bold;
}

#popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup>section {
    background-color: var(--secondary-bg-color);
    padding: calc(var(--standard-spacing) * 3);
    min-height: calc(var(--popup-min-height) * 2.1);
    max-height: 75%;
    border-radius: var(--standard-border-radius);
    outline: 5px var(--standard-border);
    display: none;
}
#popup>section.active {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#popup>section>div>p,
#popup>section>span {
    padding-right: calc(var(--standard-spacing) * 5);
}

#popup>section>div>h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--standard-spacing);
}

#popup>section>div>h2,
#popup>section>div>p {
    margin-bottom: calc(var(--standard-spacing) * 1.5);
}

#popup>section>.preference-area div>section>section {
    margin-top: var(--standard-spacing);
    width: var(--popup-content-width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: calc(var(--standard-spacing) / 2);
}

#popup>section>.preference-area div>section>section:nth-of-type(n + 2) {
    margin-top: calc(var(--standard-spacing) * 2);
}

#popup form section div.option-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: calc(var(--standard-border-radius) / 2);
}

div.option-area label {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--standard-spacing) / 2);
}

div.option-area label:first-child {
    border-top-left-radius: calc(var(--standard-border-radius) / 2);
    border-top-right-radius: calc(var(--standard-border-radius) / 2);
}
div.option-area label:last-child {
    border-bottom-left-radius: calc(var(--standard-border-radius) / 2);
    border-bottom-right-radius: calc(var(--standard-border-radius) / 2);
}

#popup>section>.preference-area>div>section:not(:nth-of-type(1)) {
    margin-top: calc(var(--standard-spacing) * 2);
}

#popup>section>.preference-area section>h3::before {
    content: "";
    display: block;
    margin-bottom: var(--standard-spacing);
    width: var(--popup-content-width);
    height: 2px;
    background-color: var(--primary-color);
    border-radius: var(--standard-border-radius);
}

.option-area label {
    transition: var(--sharp-eio-transition);
    padding: calc(var(--standard-spacing) / 2) var(--standard-spacing);
}

.option-area label:hover,
.option-area input[type="checkbox"]:hover {
    cursor: pointer;
    background-color: var(--primary-bg-color);
}

.option-area input[type="checkbox"] {
    transition: var(--sharp-eio-transition);
    appearance: none;
    background-color: var(--gray);
    width: 1rem;
    height: 1rem;
    border-radius: 0.15rem;
}

.option-area input[type="checkbox"]:hover {
    background-color: var(--white);
}

.option-area input[type="checkbox"]:checked {
    --checkbox-color: var(--blue);
    background-color: var(--checkbox-color);
    box-shadow: 0 0 10px 1px var(--checkbox-color);
}

.option-area .box-checked:hover {
    cursor: default;
    background-color: transparent;
}

/*#endregion*/




/*#region MARK: Form
*/

.preference-area {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "settings-area"
        "apply-button"
    ;
    gap: var(--standard-spacing);
}

.preference-area div.edit-container,
.preference-area>input {
    grid-area: settings-area;
    max-height: var(--popup-content-max-height);
    overflow-y: auto;
    padding: var(--standard-spacing);
}

.preference-area .apply-button {
    grid-area: apply-button;
}

.preference-area>div>section>section>span {
    color: var(--normal-text-color);
}


.preference-area div.edit-container::-webkit-scrollbar-track {
    border-radius: var(--standard-border-radius);
}

/*#endregion*/
