
.form-input, .form-button, .quick-button{
    transition: var(--standard-eio-transition);
    text-align: center;
    font-weight: bold;
    font-size: var(--input-fontsize);
    border: 2px solid var(--primary-color);
    border-radius: var(--standard-border-radius);
    background-color: var(--black);
}
#media-form div .form-button {
    min-width: calc(var(--min-button-width) * 0.425);
}
button.single-icon-button{
    min-width: calc(var(--min-button-width) * 0.37);
}

.form-input{
    height: var(--input-height);
    width: var(--input-small-width);
}
.form-input:focus{
    width: var(--input-width);
    outline: none;
}
.form-input::placeholder{
    transition: var(--standard-eio-transition);
    font-weight: bold;
}

.form-button{
    height: var(--button-height);
    min-width: var(--min-button-width);
}
.quick-button{
    transition: var(--fast-eio-transition);
    padding: calc(var(--standard-spacing) / 3) var(--standard-spacing);
    display: flex;
    justify-content: center;
    gap: calc(var(--standard-spacing) * 0.5);
}

.form-button:hover, 
.quick-button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}
.form-input:hover{
    width: var(--input-width);
    background-color: var(--primary-color);
}
.form label{
    font-weight: bold;
}  

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-input#width-input:hover{
    width: var(--input-special-width);
}
.form-input#width-input:focus{
    width: var(--input-special-width);
}

.form-input {
    color: var(--white);
}
.form-input::placeholder, .form-button, .quick-button,
.quick-button span{
    color: var(--primary-color);
}
.form-input:hover::placeholder{
    color: var(--big-text-color);
}
.form-button:hover, 
.quick-button:hover,
.quick-button:hover span {
    color: var(--big-text-color);
}


#media-form #media-form-buttons button, #media-form button, #media-form input{
    display: flex;
    justify-content: center;
    align-items: center;
}


#media-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--standard-spacing);
}


#iframe-controls {
    display: none;
}
#iframe-controls.active{
    display: flex;
    gap: var(--standard-spacing);
}
#iframe-controls > button {
    display: flex;
    padding: var(--standard-spacing);
    justify-content: center;
    align-items: center;
    gap: var(--standard-spacing);
}

#start-playlist-button{
    display: none;
}
#start-playlist-button.active{
    display: inline-block;
}