
.form-input, .form-button, .quick-button{
    transition: var(--standard-eio-transition);
    text-align: center;
    font-weight: bold;
    font-size: var(--input-fontsize);
    border: 2px solid var(--primary-color);
    border-radius: var(--standard-border-radius);
    background-color: var(--black);
}

.form-input{
    height: var(--input-height);
    width: var(--input-small-width);
    color: var(--white);
}
.form-input:focus{
    width: var(--input-width);
    outline: none;
}
.form-input::placeholder{
    transition: var(--standard-eio-transition);
    font-weight: bold;
    color: var(--primary-color);
}

.form-button{
    height: var(--button-height);
    min-width: var(--min-button-width);
    color: var(--primary-color);
}
.quick-button{
    color: var(--primary-color);
    display: flex;
    padding: calc(var(--standard-spacing) / 3) var(--standard-spacing);
    justify-content: center;
    gap: var(--standard-spacing);
}

.form-button:hover, 
.quick-button:hover {
    color: var(--normal-text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.form-input:hover{
    width: var(--input-width);
    background-color: var(--primary-color);
}
.form-input:hover::placeholder{
    color: var(--white);
}

form label{
    font-weight: bold;
    color: var(--darker-gray);
}  

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-input#width-input:hover{
    width: var(--input-special-width);
}
.form-input#width-input:focus{
    width: var(--input-special-width);
}



#media-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--standard-spacing);
}


#iframe-controls {
    display: none;
}
#iframe-controls.active{
    display: flex;
    gap: var(--standard-spacing);
}
#iframe-controls > button {
    display: flex;
    padding: var(--standard-spacing);
    justify-content: center;
    align-items: center;
    gap: var(--standard-spacing);
}

#start-playlist-button{
    display: none;
}
#start-playlist-button.active{
    display: inline-block;
}